In [2]:
"""
class <Class Name>:
    attributes
    #def method()
    
object_name = ClassName()
    
"""

class Technogeeks:
    NAME = "Technogeeks Pune"
    
    def showdata(self):
        """
        Dummy method which prints message
        """
        print("Method : Showdata")
        
# num =[1,2,3,4]  
# object = List()
#num.append(12)
t1 = Technogeeks()
print(help(t1))
t1.showdata()

Help on Technogeeks in module __main__ object:

class Technogeeks(builtins.object)
 |  Methods defined here:
 |
 |  showdata(self)
 |      Dummy method which prints message
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  NAME = 'Technogeeks Pune'

None
Method : Showdata

In [90]:
class Technogeeks:
    NAME = "Technogeeks Pune"
    
    def setdata(self, e_name, dept, Salary):
        self.showdata(e_name, dept, Salary)
        
    def showdata(self, e_name, dept, Salary):
        print("SHOW DATA: Compant Name : %s Name : %s Dept : %s Salary : %s"%(self.NAME, e_name, dept, Salary))
        
t1 = Technogeeks()
t1.setdata('Rajesh','IT Support',25000)
t1.setdata('Gautam','Operations',40000)
t1.setdata('Praveen','O&M',34000)
t1.setdata('Satish','Finance',56000)
t1.setdata('Manish','Legal',86000)
t1.setdata('Dheeraj','Marketing',20000)

SHOW DATA: Compant Name : Technogeeks Pune Name : Rajesh Dept : IT Support Salary : 25000
SHOW DATA: Compant Name : Technogeeks Pune Name : Gautam Dept : Operations Salary : 40000
SHOW DATA: Compant Name : Technogeeks Pune Name : Praveen Dept : O&M Salary : 34000
SHOW DATA: Compant Name : Technogeeks Pune Name : Satish Dept : Finance Salary : 56000
SHOW DATA: Compant Name : Technogeeks Pune Name : Manish Dept : Legal Salary : 86000
SHOW DATA: Compant Name : Technogeeks Pune Name : Dheeraj Dept : Marketing Salary : 20000

In [28]:
gautam = print
gautam("Hello World")

Hello World

In [37]:
class Technogeeks:
    NAME = "Technogeeks Pune"
    def __init__(self, name, course):
        self.name = name
        self.course = course
        
    def showdata(self):
        print("Name is %s Course is %s"%(self.name, self.course))
        
t1 = Technogeeks('Rajesh','Python')
t1.showdata()

Name is Rajesh Course is Python

In [133]:
class Maharashtra:
    State = "Pune"
    
    def showdata(self):
        print("Result : Showdata")
        
t1 = Maharashtra()
t1.showdata()

Result : Showdata

In [134]:
class Americantower:
    NAME = "ATC"
    
    def setdata(self, e_name, dept, state, Add, salary):
        self.showdata(e_name, dept, state, Add, salary)
        
    def showdata(self, e_name, dept, state, Add, salary):
        print("SHOW DATA: Company Name : %s Name : %s dept : %s state : %s Add : %s salary : %s"%(self.NAME, e_name, dept, state, Add, salary))
        
NAME = Americantower()
NAME.setdata('Gautam Kumar','Operations','Bihar','Paschim',40000)
NAME.setdata('Praveen','Marketing','Rajasthan','Bharatpur',54000)
NAME.setdata('Satish','Legal','Nagpur','wardha',72000)
NAME.setdata('Hemant','Sales','Pune','Hadapsar',42000)

SHOW DATA: Company Name : ATC Name : Gautam Kumar dept : Operations state : Bihar Add : Paschim salary : 40000
SHOW DATA: Company Name : ATC Name : Praveen dept : Marketing state : Rajasthan Add : Bharatpur salary : 54000
SHOW DATA: Company Name : ATC Name : Satish dept : Legal state : Nagpur Add : wardha salary : 72000
SHOW DATA: Company Name : ATC Name : Hemant dept : Sales state : Pune Add : Hadapsar salary : 42000

In [135]:
class Idea:
    Name = "ICISL"
    
    def __init__(self,name,course):
        self.name = name
        self.course = course
        
    def showdata(self):
        print("This is %s course is %s"%(self.name,self.course))
        
t1 = Idea('Gautam','Data Science')
t1.showdata()

This is Gautam course is Data Science